# Folders
.idea

# Gradle files
.gradle/*
build/*
out/*

# compiler output
bin/

# Files
**/*.pdf
**/*.png
**/privateKey.pem
**/publicKey.pem
**/development.json
**/sandbox.json
**/snippet.java
gradle.properties
